.walletOuter{
    max-width: 100%;
    min-width: 300px;
    background-color: #f5f7fa;
    height: 700px;
}
.balanceDetail{
 text-align: center;
 margin: auto;
 margin-top: 70px;   
}
.bankBtn{
    margin: auto;
    margin-top: 70px;
    margin-left: 0px
}